@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&family=Montserrat:wght@300;400;600&display=swap");
#servicesSection {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
  margin-top: 20px; }
  #servicesSection h2 {
    text-align: center;
    font-size: 1.6em;
    padding-bottom: 20px; }
  #servicesSection .servicesContainer {
    margin: 0 20px 0 20px;
    gap: 2em 1em;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
    #servicesSection .servicesContainer .serviceContainer {
      text-align: center;
      gap: 15px;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 10px;
      padding: 15px; }
  #servicesSection .serviceImage div:first-child {
    overflow: hidden;
    padding: 10px; }
    #servicesSection .serviceImage div:first-child img {
      transition: 0.3s;
      width: calc(100% - 15px); }
      #servicesSection .serviceImage div:first-child img:hover {
        cursor: pointer;
        box-shadow: 0 0 5px #932067eb;
        scale: 1.03;
        transition: 0.2s; }
  #servicesSection .serviceImage h3 {
    overflow-y: hidden; }

@media (min-width: 796px) {
  .serviceImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .serviceImage div:first-child {
      width: 100%;
      margin-bottom: 5px; }
      .serviceImage div:first-child img {
        border-radius: 50%; }
  .serviceData {
    padding: 0px 15px 20px 15px; }
    .serviceData li {
      margin-bottom: 5px; } }

@media (max-width: 796px) {
  .serviceContainer {
    border-radius: 10px;
    display: flex;
    flex-direction: column; }
  .serviceImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .serviceImage div:first-child {
      width: 100%;
      display: flex;
      justify-content: center; }
      .serviceImage div:first-child img {
        border-radius: 50%;
        width: calc(160px + 10vw); } }

.floatingIcons {
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  gap: 10px;
  width: 300px;
  align-items: center; }
  .floatingIcons a {
    color: black;
    text-decoration: none; }
  .floatingIcons .floatingWhatsappBackground,
  .floatingIcons .floatingInstagramBackground {
    opacity: 0;
    width: 0;
    height: 40px;
    z-index: -2;
    translate: -5px 2px;
    padding-right: 5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; }
    .floatingIcons .floatingWhatsappBackground p,
    .floatingIcons .floatingInstagramBackground p {
      margin-left: 10px;
      white-space: nowrap;
      overflow: hidden; }
  .floatingIcons .floatingInstagramLogo:hover .floatingInstagramBackground {
    opacity: 1;
    width: 130px;
    background-color: #ffd1ff; }
  .floatingIcons .floatingWhatsappLogo:hover .floatingWhatsappBackground {
    opacity: 1;
    width: 110px;
    background-color: #b6ffa4; }
  .floatingIcons div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s; }
  .floatingIcons img {
    margin-top: 5px;
    height: 50px; }

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0; }
  footer .gridFooter {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100vw;
    padding: 15px;
    gap: 15px;
    background-color: #ffd6ef; }
    footer .gridFooter .footerLogoContainer {
      height: 100px; }
    footer .gridFooter > div {
      transform: translate(-30px, 0); }
    footer .gridFooter div:first-child {
      grid-area: "logo";
      display: flex;
      justify-content: end;
      margin-bottom: -8px; }
    footer .gridFooter div:last-child {
      grid-area: "doctorData";
      width: max-content;
      display: flex;
      justify-content: center;
      margin-top: -10px;
      flex-direction: column;
      text-align: center; }
      footer .gridFooter div:last-child .drName {
        font-size: 1.6em; }
      footer .gridFooter div:last-child .specialtiesNames {
        font-size: 1em;
        font-weight: 700; }

.topDataSection,
.bottomDataSection {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  background-color: #4a058b;
  font-style: italic;
  color: white; }
  .topDataSection a,
  .bottomDataSection a {
    text-decoration: none;
    color: white;
    font-weight: bold; }
    .topDataSection a div,
    .bottomDataSection a div {
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden; }
    .topDataSection a p,
    .bottomDataSection a p {
      padding-right: 6px;
      font-size: 1.2em; }
    .topDataSection a img,
    .bottomDataSection a img {
      height: 26px;
      margin-right: 3px; }
    .topDataSection a:hover,
    .bottomDataSection a:hover {
      color: antiquewhite; }

.topDataSection {
  background-color: white; }
  .topDataSection a {
    color: black; }
    .topDataSection a:hover {
      color: #3c3c3c; }

nav div {
  display: flex;
  justify-content: center;
  background-color: #ffd6ef;
  flex-wrap: wrap;
  align-items: stretch; }
  nav div img {
    margin-top: 6px;
    margin-bottom: 3px;
    width: 180px; }
  nav div .navigation {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.6em;
    margin: -5px 15px 0 15px; }
    nav div .navigation .beforeAndAfterInNavbar::before {
      border-bottom: 2px solid black; }
    nav div .navigation .beforeAndAfterInNavbar::after {
      background-color: #ffc8ea; }
    nav div .navigation a {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 15px;
      width: max-content;
      text-decoration: none;
      color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: relative; }
      nav div .navigation a p {
        z-index: 2; }
      nav div .navigation a::before {
        z-index: 2;
        position: absolute;
        content: "";
        width: 0;
        margin-top: 28px; }
      nav div .navigation a::after {
        top: 0;
        translate: -15px;
        z-index: 1;
        position: absolute;
        content: "";
        width: 100%;
        height: 0; }
      nav div .navigation a:hover::after {
        animation: scrollUpBackground 0.3s ease both; }
      nav div .navigation a:hover::before {
        animation: borderWidthTo100 0.3s ease both; }
      nav div .navigation a:not(:hover)::before {
        animation: borderWidthTo0 0.3s ease both; }
      nav div .navigation a:not(:hover)::after {
        animation: scrollDownBackground 0.3s ease both; }

@keyframes borderWidthTo100 {
  from {
    width: 0; }
  to {
    width: calc(100% - 30px); } }

@keyframes borderWidthTo0 {
  from {
    width: calc(100% - 30px); }
  to {
    width: 0; } }

@keyframes scrollUpBackground {
  from {
    height: 0; }
  to {
    height: 100%; } }

@keyframes scrollDownBackground {
  from {
    height: 100%; }
  to {
    height: 0; } }

#homeSection {
  display: flex;
  background-image: url("./images/consultorio.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden; }
  #homeSection .homeSectionText {
    width: 100%;
    display: flex;
    justify-content: center; }
    #homeSection .homeSectionText div:first-child {
      height: 100%;
      overflow: hidden;
      min-width: max-content; }
      #homeSection .homeSectionText div:first-child img {
        height: 500px;
        margin-top: 20px; }
    #homeSection .homeSectionText div:last-child {
      padding: 10px;
      margin-left: -20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: -20px; }
      #homeSection .homeSectionText div:last-child h1 {
        font-size: 2.12em;
        font-weight: 500; }
      #homeSection .homeSectionText div:last-child p {
        font-size: 1.4em; }
      #homeSection .homeSectionText div:last-child .subtitle {
        font-size: 1.6em; }
      #homeSection .homeSectionText div:last-child a {
        margin-top: 15px;
        width: 100%;
        overflow: visible;
        transition: 0.3s; }
      #homeSection .homeSectionText div:last-child button {
        width: 100%;
        cursor: pointer;
        border-radius: 16px;
        border: 0;
        padding: 12px 7px;
        background-color: white;
        box-shadow: 0px 0px 5px rgba(90, 58, 77, 0.499);
        transition: 0.3s; }
        #homeSection .homeSectionText div:last-child button p {
          transition: 0.3s;
          font-size: 1.6em; }
        #homeSection .homeSectionText div:last-child button:hover {
          box-shadow: 0px 0px 8px rgba(90, 58, 77, 0.774), inset 6px -6px 12px #fde2ffbf;
          transition: 0.3s; }
          #homeSection .homeSectionText div:last-child button:hover p {
            scale: 1.1;
            transition: 0.3s; }

@font-face {
  font-family: Bradley;
  src: url("./Bradley.ttf") format("opentype"); }

.montserrat {
  font-family: 'Montserrat', sans-serif; }

.bradley {
  font-family: Bradley; }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  position: relative;
  padding-bottom: calc(200px + 2em);
  background-color: #f6f6f6; }
